<div class="container">
    <div class="about-tabs">
        <ul class="tabs group">
            <li>
                <a ng-click="changePage('brand')" ng-class="{'active':pageIndex === 'brand'}">
                    <h1 class="title" ng-bind="'menu_aboutus'|translate"></h1>
                </a>
            </li>
            <li>
                <a ng-click="changePage('declaration')" ng-class="{'active':pageIndex === 'declaration'}">
                    <h1 class="title" ng-bind="'menu_qualitydeclaration'|translate"></h1>
                </a>
            </li>
            <li>
                <a ng-click="changePage('quality')" ng-class="{'active':pageIndex === 'quality'}">
                    <h1 class="title" ng-bind="'menu_potcollection'|translate"></h1>
                </a>
            </li>
        </ul>
        <div class="tab-content" ng-include="page">
        </div>
    </div>
</div>