<!--植物列表-->
<div class="container shop" pinch-Zoom>
    <div class="isotop">
        <div class="item loading" ng-repeat="plant in plants | limitTo:total track by $index" repeat-Done="initIsotop()" ng-click="openDetail(plant)">
            <img ng-src="{[{plant.images_local[0] || plant.images[0]}]}">
            <div class="text-bar">
                <h3 class="title" ng-bind="plant.name"></h3>
            </div>
        </div>
    </div>
    <button class="btn btn-gray LoadMore" ng-click="nextPage()" ng-hide="total > plants.length" lx-ripple>瀏覽更多</button>
</div>
