<!DOCTYPE html>
<html ng-app="plant" ng-controller="PlantController">

<head>
    <script src="cordova.js"></script>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">-->
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-eval' 'unsafe-inline';">
    <meta name="format-detection" content="telephone=no">
    <!--CSS-->
    <!--favicon.ico -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!--CSS-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/plant.css">
    <link rel="stylesheet" href="css/swiper.min.css">

</head>


<body class="side-hide" ng-class="{'menu-show':menuShow, 'cart-show': cartShow}">
    <!--頁面導向中的modal-->
    <div class="loading-modal" ng-class="{'show': redirect}">
        <div class="content">
            <img class="logo" src="img/plant_draw.png">
            <p ng-bind="'page_redirect'|translate"></p>
            <svg class="loading-icon" width="30px" height="30px" viewBox="0 0 66 66">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
    </div>
    <!--pictureModal-->
    <div class="picture-modal" ng-show="pictureModal">
        <button class="btn trans-btn remove" ng-click="closePictureModal()">
            <i class="glyphicon glyphicon-remove"></i>
        </button>
        <div class="wrapper">
            <div class="picture" rn-lazy-background="picture" pan-Zoom> </div>
        </div>
    </div>
    <!--最上方的進度條-->
    <div class="progress-bar">
        <div class="bar"></div>
    </div>
    <!--側邊menu-->
    <div class="side-menu side-hide">
        <ul class="">
            <li>
                <a ui-sref="about" ng-bind="'menu_aboutus'|translate"></a>
            </li>
            <li>
                <a ui-sref="products" ng-bind="'menu_plant'|translate"></a>
            </li>
            <li>
                <a ui-sref="pots" ng-bind="'menu_pots'|translate"></a>
            </li>
            <li>
                <a ui-sref="tutorial({tabName:'常見問題'})" ng-bind="'menu_problem'|translate"></a>
            </li>
            <li>
                <a ui-sref="contact" ng-bind="'menu_contact'|translate"></a>
            </li>
            <li>
                <a ui-sref="search" ng-bind="'menu_ordersearch'|translate"></a>
            </li>
            <hr>
            <li>
                <a ui-sref="tutorial({tabName:'新手指南'})" ng-bind="'menu_gettingstart'|translate"></a>
            </li>
            <li>
                <a ui-sref="tutorial({tabName:'購物須知'})" ng-bind="'menu_shopnotice'|translate"></a>
            </li>
            <li>
                <a ui-sref="tutorial({tabName:'售後說明'})" ng-bind="'menu_service'|translate"></a>
            </li>
            <li>
                <a ui-sref="paid" ng-bind="'menu_paid'|translate"></a>
            </li>
        </ul>
    </div>
    <!--側邊購物車-->
    <div class="side-cart">
        <p class="title" ng-bind="'menu_cart'|translate"></p>
        <ul>
            <li ng-repeat="item in cart track by $index" ng-tap="openDetail(item)">
                <div class="thumb" rn-Lazy-Background="makeImagesPath(item)[0]"></div>
                <a href="#" ng-bind="item.name"></a>
                <p ng-bind="item.subtitle"></p>
                <p ng-bind="item.quantity + 'X NT$' + item.price"></p>
            </li>
            <p class="empty" ng-show="cart.length <= 0" ng-bind="'menu_emptycrat'|translate"></p>
            <hr>
            <p class="total">
                <span ng-bind="'menu_total'|translate"></span>
                <span ng-bind="getTotal()"></span>
            </p>
            <button class="btn white-btn" ng-show="cart.length > 0" ui-sref="checkout" ng-bind="'menu_checkout'|translate"></button>
        </ul>
    </div>
    <!--右邊主內容-->
    <div class="side-content">
        <div class="side-blur" ng-tap="hideSide()"></div>
        <div class="jumbotron jumbotron_plant" rn-Lazy-Background="'img/plant_BG.jpg'">
            <img class="logo" ui-sref="products" src='img/plant_logo_w.svg'>
        </div>
        <div class="nav-div">
            <nav class="navbar navbar-default navbar-plant affix">
                <div class="navbar-header">
                    <img class="logo-left" src="img/plant_logo.svg" ui-sref="products">
                    <button type="button" class="navbar-toggle side-toggle" data-toggle="collapse" ng-tap="openMenu()">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <button type="button" class="navbar-toggle cart-btn" data-toggle="collapse" ng-tap="openCart()">
                        <span class="glyphicon glyphicon-shopping-cart">
                    </span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a ui-sref="about" ng-bind="'menu_aboutus'|translate"></a>
                        </li>
                        <li>
                            <a ui-sref="products" ng-bind="'menu_plant'|translate"></a>
                        </li>
                        <li>
                            <a ui-sref="pots" ng-bind="'menu_pots'|translate"></a>
                        </li>
                        <li class="logo">
                            <h1>
                            <img src="img/plant_logo.svg" ui-sref="products">
                            </h1>
                        </li>
                        <li>
                            <a ui-sref="tutorial({tabName:'常見問題'})" ng-bind="'menu_problem'|translate"></a>
                        </li>
                        <li>
                            <a ui-sref="contact" ng-bind="'menu_contact'|translate"></a>
                        </li>
                        <li>
                            <a ui-sref="search" ng-bind="'menu_ordersearch'|translate"></a>
                        </li>
                    </ul>
                    <button type="button" class="btn cart-btn" ng-tap="openCart()">
                        <span class="glyphicon glyphicon-shopping-cart">
                    </span>
                        <p ng-bind="cart.length"></p>
                    </button>
                </div>
            </nav>
        </div>
        <!--ui-view-->
        <div ui-view class="view"></div>
        <!---->
        <footer class="footer-plant">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="content">
                        <h2 ui-sref="tutorial({tabName:'新手指南'})" ng-bind="'menu_gettingstart'|translate"></h2>
                        <p ng-bind="'menu_pottingtutorial'|translate"></p>
                        <p ng-bind="'menu_takecare'|translate"></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="content">
                        <h2 ui-sref="tutorial({tabName:'購物須知'})" ng-bind="'menu_shopnotice'|translate"></h2>
                        <p ng-bind="'menu_aboutplant'|translate"></p>
                        <p ng-bind="'menu_paymentmethod'|translate"></p>
                        <p ng-bind="'menu_package'|translate"></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="content">
                        <h2 ui-sref="tutorial({tabName:'售後說明'})" ng-bind="'menu_service'|translate"></h2>
                        <p ng-bind="'menu_returnservice'|translate"></p>
                        <p ui-sref="paid" ng-bind="'menu_paid'|translate"></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="content">
                        <h2 ng-bind="'menu_follow'|translate"></h2>
                        <div class="icon-list">
                            <a href="#">
                                <img class="icon" src="img/twitter.png">
                            </a>
                            <a href="https://www.facebook.com/saturdays.succulents">
                                <img class="icon" src="img/facebook.png">
                            </a>
                            <a href="#">
                                <img class="icon" src="img/weibo.png">
                            </a>
                            <a href="#">
                                <img class="icon" src="img/google.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!--LIB-->

    <!--Jquery-->
    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/swiper.min.js"></script>

    <!--Angular-->
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-ui-router.min.js"></script>
    <script src="lib/angular-sanitize.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/angular-translate.min.js"></script>
    <script src="lib/isotope.pkgd.min.js"></script>
    <!--LIB-->
    <script src="lib/imagesloaded.pkgd.min.js"></script>
    <script src="lib/jquery.panzoom.min.js"></script>

    <!--JS-->
    <script src="js/plant.js"></script>
    <script src="js/router.js"></script>
    <script src="js/service.js"></script>
    <script src="js/service_util.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/directive.js"></script>
    <script src="js/translate.js"></script>

    <script src="js/lazy.js"></script>
</body>





</html>