<div class = "about">
     <h2> · About Saturdays</h2>
     <ol class = "sub">
         <p>
             SATURDAYS - derived from Greek mythology, Saturn Saturnus, whether it is long tome ago, or today, Saturday is to let people can temporarily stop, rest of the day.
             <br>
             <br>The plants can heal people by magical power, SATURDAYS take these beautiful scenery into our life.
         </p>
     </ol>

     <h2> · About Us </h2>
     <ol class = "sub">
         <p> "SATURDAYS Succulents" is a group of people who love cactus and succulents ; With a dream in the deep heart s core, They collect the world's different seeds and new plants, hoping to share with you the green life and fun planting of succulents. </p>
     </ol>
</div>