<div class="about">
    <h2>・品質宣言</h2>
    <h3>專人挑選，品質把關。</h3>
    <ol class="sub">
        <p>每顆植物皆是由我們親手精心挑選，透過嚴格的把關，只有健康良好、品質優良的植株才會在SATURDAYS星期六上架。</p>
    </ol>
    <h3>天然介質，健康養護。
</h3>
    <ol class="sub">
        <p>不同於一般市售的多肉植物，因成本考量而使用便宜的培養土種植，我們增加了天然礦物石作為介質，提升土壤的疏水性、透氣度，並搭配有機肥料，讓植物能夠健康成長，也更加適合新手養護栽培。</p>
    </ol>

    <h3>貼心提醒澆水時間</h3>
    <ol class="sub">
        <p>「何時澆水？」一直是讓許多人感到困擾的問題。我們使用赤玉土作為表土，讓新手們可以透過表土的乾濕狀況，判斷是否該進行澆水；室外為表土乾後3-4天再澆水即可，室內可再延1-2天。
        </p>
    </ol>

    <h3>附加服務</h3>
    <ol class="sub">
        <p>另外，我也們提供貼心的附加服務，每一顆植株寄出時，除了完善、安全的包裝外，還會附上專屬於它的照顧小卡，提供作為養護的參考。
            <br>
            <br>若您有想要尋找的植物，也歡迎留言告知我們：）
        </p>
    </ol>
</div>