<div class="about">
    <h2>· Quality Declaration</h2>
    <h3>Hand selection for best plants quality</h3>
    <ol class="sub">
        <p>Every plants carefully selected by us, through rigorous checks. Only healthy plants will be shelves on shop</p>
    </ol>
    <h3>High quality soil
</h3>
    <ol class="sub">
        <p>Unlike others cheap succulents,they reduce the coast of soil. SATURDAYS use the height quality soil , It added natural mineral stone,and it can provide the best air permeability , so that the plant can grow up healthily.</p>
    </ol>

    <h3>Watering Time</h3>
    <ol class="sub">
        <p>"When water?" Has been so many people are troubled issue. We use Akadama Soil as topsoil, so We can determine whether the watering by looking topsoil dry or wet.
        </p>
    </ol>

    <h3>Package</h3>
    <ol class="sub">
        <p>in addition to security package, it will also attach a small card, provided as  maintain reference.
            <br>
            <br>If you are looking for a plant, welcome message to  us :)
        </p>
    </ol>
</div>