<div class="about">
    <h2>・精選盆器</h2>
    <h3>精選盆器，哪裡都型。</h3>
    <ol class="sub">
        <p>從上百種盆器中，我們精心挑選出了由台灣設計、製造的八角白盆。外型優美，勻稱的切面讓外觀看起來有如瓷器的質感一般，不論是室內或戶外，都可以成為美麗的擺設，裝亮你的生活。
        </p>
    </ol>
    <h3>不只型，還要行！</h3>
    <ol class="sub">
        <p>八角切割的造型，除了在收納、排列上能夠節省更多的空間外，還能夠增加手部與盆器間的摩擦力，在拿取時不易滑落，且比起四角方盆更加順手。</p>
    </ol>
    <h3>疏水、輕巧、堅固耐用。</h3>
    <ol class="sub">
        <p>在炎熱的夏天裡，多肉植物最需要注意的就是排水、透氣的問題。 八角白盆底部含有多個疏水孔，不讓盆栽存積過多的水份，保持良好的疏水性，並使用了高硬度的PP材質，不僅輕巧且堅固耐用。</p>
    </ol>
</div>