<div class="teach">
    <h2>・關於多肉植物</h2>
    <ol>
        <li>
            <p>每棵多肉植物都是世界上獨一無二的個體，即使品種相同，也會因為生長的過程、季節不同而有不一樣的型態與顏色變化，因此商品圖僅供示意。</p>

        </li>
        <li>
            <p>植物採天然健康的露天養殖方法，葉面上的斑點、落葉等情形，都屬於正常的生長現象，要求完美者請慎重購買。</p>
        </li>
    </ol>

    <h2>・關於包裝、寄送</h2>
    <ol>
        <li>
            <p>採個別包裝，多肉植物、盆器、土壤皆會分開包裝，並附上「肉肉養護卡」供為種植參考。</p>
        </li>
        <li>
            <p>植物寄出前需進行晾曬，蒸發多餘的水分，付款後約1-2天進行出貨。</p>
        </li>
        <li>
            <p>一律使用宅配寄送。</p>
        </li>
        <li>
            <p>不論件數，每筆訂單只收取一次費用。</p>
        </li>
        <li>
            <p>植物收到後應即時開箱，以確保植物的將康狀況不受影響。</p>
        </li>
    </ol>
    <table class="table teach-table">
        <tr>
            <td></td>
            <td>寄達時間</td>
            <td>運費</td>
        </tr>
        <tr>
            <td>本島寄送</td>
            <td>隔日</td>
            <td>$ 65</td>
        </tr>
        <tr>
            <td>離島寄送
                <sub>（澎湖、金門、馬祖、綠島等）</sub>
            </td>
            <td>後天</td>
            <td>$ 180</td>
        </tr>
    </table>

    <h2>・購買方式＆付款</h2>
    <ol>
        <li>
            <p>無需加入會員，在結帳頁面填寫個人資料後即可購買。</p>
        </li>
        <li>
            <p>可使用線上刷卡或ATM轉帳付款。</p>
        </li>
    </ol>
</div>