<div class="teach">
    <h2>・About Plants</h2>
    <ol>
        <li>
            <p>Each plant is unique in the world,Even the same species, growth turned out differently, because different environments,Therefore Images are for reference only.</p>

        </li>
        <li>
            <p>植物採天然健康的露天養殖方法，葉面上的斑點、落葉等情形，都屬於正常的生長現象，要求完美者請慎重購買。</p>
        </li>
    </ol>

    <h2>・About Package/Delivery</h2>
    <ol>
        <li>
            <p>Plants, pots, soil will be packaged separately.</p>
        </li>
        <li>
            <p>Shipping about 3-5 days after payment.</p>
        </li>
        <li>
            <p>Shipping fee is charged only once per order.</p>
        </li>
    </ol>
    <table class="table teach-table">
        <tr>
            <td></td>
            <td>Delivery days</td>
            <td>Shipping fee</td>
        </tr>
        <tr>
            <td>In Taiwan</td>
            <td>next day</td>
            <td>NT$ 65</td>
        </tr>
        <tr>
            <td>Out of Taiwan</td>
            <td>?</td>
            <td>NT$ ?</td>
        </tr>
    </table>

    <h2>・Payment</h2>
    <ol>
        <li>
            <p>After the checkout page fill in personal information can buy.</p>
        </li>
        <li>
            <p>You can use online credit card or ATM transfer payments.</p>
        </li>
    </ol>
</div>
