<!--Q & A-->
<div class="teach">
    <h2>・植物可以養在室內嗎？</h2>
    <ol class="sub">
        <p>可以，但仍須注意通風及光線照明。
            <br> 適合栽種的室內地方有：靠近窗戶、有自然光會照入的地方。若是完全沒有光或必須依靠日光燈才會明亮的暗處，則建議一周1~2次將植物放置窗邊或陽台，照射陽光以確保植株能夠健康成長。
        </p>
    </ol>
    <h2>・需要多久澆一次水？</h2>
    <ol class="sub">
        <p>多肉植物本身具有儲水的功能，因此不需要時常澆水照顧，約7-10天澆水一次即可。 若中短期出國、出差，最多可延至一個月再澆水一次，也不會直接導致植物死亡。
        </p>
    </ol>
    <h2>・植物會一直保持這樣的大小嗎？</h2>
    <ol class="sub">
        <p>植物是活的，所以還是會繼續成長；影響植物的成長因素有：環境、種植方式、施肥、盆器容積，品種的不同也會有成長速度上的差異。
            <br>
            <br>若希望植物不要長大：可以將水量減半，並不要更換容器，若植物長滿盆子後，可以進行適當的修剪（例如：黃金萬年草、珍珠萬年草等），來維持植物的尺寸。 若希望植物快速長大：適當的施肥、增加土壤的營養度，並讓植物有充足的日照，便可讓植物變得更加健壯，加快成長的速度。
            <br>
            <br>若希望植物快速長大：適當的施肥、增加土壤的營養度，並讓植物有充足的日照，便可讓植物變得更加健壯，加快成長的速度。
        </p>
    </ol>
    <h2>・要如何換盆？</h2>
    <ol class="sub">
        <p>每年3-5月及9-10月氣候溫和涼爽，最適合進行換盆。</p>
        <p>Step1：植物換盆前不要澆水，保持土壤乾燥約一週</p>
        <p>Step2：輕輕的按壓盆器，讓盆子與土壤鬆脫、分離</p>
        <p>Step3：準備一個水盆或水桶，拿起植物並放入水中清洗，在水中來回抖動看見白色根系即可。避免直接拿水管、在水龍頭下沖洗，因為強力的水柱容易使植物受傷。</p>
        <p>Step4：可依照個人的習慣選擇是否要泡殺菌溶劑（如：多菌靈、百菌清）</p>
        <p>Step5：清洗完成後進行晾乾（通風處即可，避免陽光直曬），一般約1-2天後即可上盆</p>
        <p>Step6：開始上盆，步驟請參考「上盆教學」，土壤由粗開始，往頂部漸細。</p>
        <p>Step7：換盆完成，3天後可正常澆水</p>
    </ol>
    <h2>・多肉植物可以活多久？</h2>
    <ol class="sub">
        <p>多肉植物與仙人掌是長年生的植物，並不會因為週期到了（一季、一年）就死亡，只要按照正確的種植方式栽培，都可以陪伴你長長久久。而且隨著季節的變化，他們會有不同的型態出現，如：開花、分裂、變色等，是非常值得細心觀察、欣賞的植物。
        </p>
    </ol>
</div>