<div class="teach">
    <h2>・上盆教學</h2>
    <ol class="sub">
        <p>Step1：將底層土（1號）放入盆器</p>
        <p>Step2：將綜合培養土（2號）倒入盆器，約達盆子的1/3處即可</p>
        <p>Step3：把植物放入盆器中，並繼續將2號土倒入盆中，覆蓋植物根部，固定植物</p>
        <p>Step4：倒入表層土（3號）覆蓋表面，即可完成</p>
    </ol>
    <!--
    <div class="row steps-div">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="step" rn-Lazy-Background="'/img/step1.jpg'"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="step" rn-Lazy-Background="'/img/step2.jpg'"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="step" rn-Lazy-Background="'/img/step3.jpg'"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="step" rn-Lazy-Background="'/img/step4.jpg'"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="step" rn-Lazy-Background="'/img/step5.jpg'"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="step" rn-Lazy-Background="'/img/step6.jpg'"></div>
        </div>
    </div>
-->
    <h2>・照顧方式</h2>
    <h3>澆水</h3>
    <ol class="sub">
        <li>
            <p>多肉植物大部分具有肥厚的特定特殊組織，一般只需約7~14天澆一次水。</p>

        </li>
        <li>
            <p>請在涼爽的清晨或傍晚澆水，避開正中午；陰雨天氣時請勿澆水，避免爛根。</p>
        </li>
        <li>
            <p>遵循「見乾見濕」原則，等土乾透再澆透（盆底流出水），不要用噴水的方式澆水，因為可能表面看起來很濕，但裡面都是乾的，植物根部吸收不到水份。</p>
        </li>
    </ol>
    <h3>陽光</h3>
    <ol class="sub">
        <p>仙人掌及多肉植物其實是需要陽光的，一般建議盡量放在陽光可照射到的地方，若放在室內無陽光處，建議可以兩三盆輪流擺放，約兩三天替換一次。</p>
    </ol>
    <h3>土壤</h3>
    <ol class="sub">
        <p>多肉植物一般介質建議使用排水、通風性良好之介質，一般培養土內可多摻些沙子與石頭，讓其排水良好。</p>
    </ol>
    <h3>風</h3>
    <ol class="sub">
        <p>多通風和光照一樣重要，如果通風不好比較容易生病蟲害，請避免「高溫高濕」的情形。</p>
    </ol>
</div>